<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><%= t ".descrip1" %></a>
    by <a href="http://www.michaelhartl.com/"><%= t ".descrip2" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link1"),   about_path %></li>
      <li><%= link_to t(".link2"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".descrip3" %></a></li>
    </ul>
  </nav>
</footer>
